BOT_TOKEN=YOUR_NEW_TELEGRAM_BOT_TOKEN
OWNER_ID=YOUR_OWNER_ID
ADMIN_ID=YOUR_ADMIN_ID
YOUR_USERNAME=your_username
UPDATE_CHANNEL=your_channel_username
FREE_USER_LIMIT=2
SUBSCRIBED_USER_LIMIT=20
ADMIN_LIMIT=999
